$mainColor: #08a6e4;
$shadowColor: rgba(7, 172, 230, 0.16);
$redishColor: #fb3b64;
$greyColor: #a5a5a5;
$lightGreyColor: #f7f7f7;
$whiteColor: #ffffff;
$mainFont: "Raleway", sans-serif;
$secondFont: "Open Sans", sans-serif;
