/* Variables */

:root {
  --main-color: #08a6e4;
  --shadow-color: rgba(7, 172, 230, 0.16);
  --redish-color: #fb3b64;
  --green-color: #55dfb4;
  --black-color: #000000;
  --grey-color: #a5a5a5;
  --light-grey-color: #f7f7f7;
  --white-color: #ffffff;
  --main-font: "Raleway", sans-serif;
  --second-font: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
}
